<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">

    <display-name>sistema-salas-reuniao</display-name>

    <!-- Configuração da página inicial -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Configuração de Servlets -->
    <servlet>
        <servlet-name>SalaReuniaoController</servlet-name>
        <servlet-class>controller.SalaReuniaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalaReuniaoController</servlet-name>
        <url-pattern>/salas</url-pattern>
    </servlet-mapping>
</web-app>
